<!-- footer -->
<footer class="footer-one">
    <div class="inner-footer">
        <div class="container">
            <div class="footer-top col-lg-12 col-xs-12">
                <div class="row">
                    <div class="tiva-html col-lg-4 col-md-12 col-xs-12">
                        <div class="block">
                            <div class="block-content">
                                <div class="logo-container">
                                    <a href="/" class="footer-logo-link" aria-label="FurniCraft Home">
                                      <img src="/img/logo.png" 
                                           alt="FurniCraft Logo" 
                                           class="footer-logo-img"
                                           width="40"
                                           height="40">
                                      <span class="footer-logo-text">FurniCraft</span>
                                    </a>
                                  </div>
                                <p class="content-logo">
                                    At FurniCraft, we blend timeless craftsmanship with modern design to create furniture that tells a story. 
                                    Founded in 2015, our family-owned workshop sources sustainable materials to build heirloom-quality pieces 
                                    designed to last generations. Each item is hand-finished by skilled artisans who take pride in turning 
                                    raw wood into functional art for your home.
                                  </p>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <ul>
                                    <li>
                                        <a href="/about">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/reasons-to-shop">Reasons to shop</a>
                                    </li>
                                    <li>
                                        <a href="/what-our-customer-say">What our customers say</a>
                                    </li>
                                    <li>
                                        <a href="/team">Meet the team</a>
                                    </li>
                                    <li>
                                        <a href="/contact-our-buyer">Contact our buyers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-content">
                                <p class="img-payment ">
                                    <img class="img-fluid" src="/img/home/payment-footer.png" alt="img" loading="lazy">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tiva-html col-lg-4 col-md-6">
                        <div class="block m-top">
                            <div class="title-block">
                                Contact Us
                            </div>
                            <div class="block-content">
                                <div class="contact-us">
                                    <div class="title-content">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Address :</span>
                                    </div>
                                    <div class="content-contact address-contact">
                                        <p>123 Suspendis matti, Visaosang Building VST District NY Accums, North American</p>
                                    </div>
                                </div>
                                <div class="contact-us">
                                    <div class="title-content">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span>Email :</span>
                                    </div>
                                    <div class="content-contact mail-contact">
                                        <p>support@furnicraft.com</p>
                                    </div>
                                </div>
                                <div class="contact-us">
                                    <div class="title-content">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Hotline :</span>
                                    </div>
                                    <div class="content-contact phone-contact">
                                        <p>+0012-345-67890</p>
                                    </div>
                                </div>
                                <div class="contact-us">
                                    <div class="title-content">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>Opening Hours :</span>
                                    </div>
                                    <div class="content-contact hours-contact">
                                        <p>Monday - Sunday / 08.00AM - 19.00</p>
                                        <span>(Except Holidays)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tiva-modules col-lg-4 col-md-6">
                        <div class="block m-top">
                            <div class="block-content">
                                <div class="title-block">Newsletter</div>
                                <div class="sub-title">Sign up to our newsletter to get the latest articles, lookbooks voucher codes direct
                                    to your inbox
                                </div>
                                <div class="block-newsletter">
                                    <form action="#" method="post">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="email" value="" placeholder="Enter Your Email">
                                            <span class="input-group-btn">
                                                <button class="effect-btn btn btn-secondary " name="submitNewsletter" type="submit">
                                                    <span>subscribe</span>
                                                </button>
                                            </span>
                                        </div>
                                        <input type="hidden" name="action" value="0">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row block m-top1">
                            <div class="block-content col-12 text-center text-md-left">
                                <div class="social-content">
                                  <div class="title-block mb-2 mb-md-3 text-center text-md-left">
                                    Follow us on
                                  </div>
                                  <div id="social-block">
                                    <div class="social">
                                      <ul class="list-inline mb-0 justify-content-center justify-content-md-end">
                                        <li class="list-inline-item mb-0 mx-2 mx-md-3">
                                          <a href="#" target="_blank" aria-label="Facebook">
                                            <i class="fab fa-facebook-f"></i>
                                          </a>
                                        </li>
                                        <li class="list-inline-item mb-0 mx-2 mx-md-3">
                                          <a href="#" target="_blank" aria-label="Twitter">
                                            <i class="fab fa-twitter"></i>
                                          </a>
                                        </li>
                                        <li class="list-inline-item mb-0 mx-2 mx-md-3">
                                          <a href="#" target="_blank" aria-label="Google">
                                            <i class="fab fa-google"></i>
                                          </a>
                                        </li>
                                        <li class="list-inline-item mb-0 mx-2 mx-md-3">
                                          <a href="#" target="_blank" aria-label="Instagram">
                                            <i class="fab fa-instagram"></i>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="block m-top1">
                            <div class="block-content">
                                <div class="payment-content">
                                    <div class="title-block text-center text-md-left">
                                        Payment accept
                                    </div>
                                    <div class="payment-image text-center text-md-left">
                                        <img class="img-fluid" src="/img/home/payment.png" alt="img" loading="lazy">
                                    </div>
                                </div>
                                <!-- Popup newsletter -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>