<section  id="page-404" class="blog">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <section class="page-home">
                <div class="container">
                    <div class="row center">
                        <div class="content-404 col-lg-6 col-sm-6 text-center">
                            <h2 class="h4">We're experiencing technical difficulties.</h2>
                            <div class="info">
                                <p>If difficulties persist, please contact the System Administrator of this site and reportthe error below.</p>
                            </div>
                            <a class="btn btn-default" href="/">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Back to homepage</span>
                            </a>
                        </div>
                        <div class="content-right-404 col-lg-6 col-sm-6 text-center">
                            <a href="#">
                                <img class="img-fluid" src="/img/other/background.jpg" alt="image 404 right" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>